.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: var(--body);
}

.nav {
	height: calc(var(--header-height) + 1.5rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
}

.nav__logo,
.nav__toggle {
	color: var(--cor-titulo);
	font-weight: var(--font-medium);
}

.nav__list {
	display: flex;
	column-gap: 2rem;
}

.nav__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--font-size-pequena);
	color: (--cor-titulo);
	font-weight: var(--font-medium);
	transition: .3s;
}

.nav__icon,
.nav__toggle,
.nav__close {
	display: none;
}

/* Links ao Ativar */
.active__link,
.nav__link:hover {
	color: var(--cor-preta-titulo);
}

/*=============== RESPONSIVIDADES =================*/